<%- include('./header.ejs')  %>

<section> <!---section start-->
    <div id="abc" class="carousel slide carousel-fade">
        <div class="carousel-inner">
            <div class="carousel-item active ">
                <img style="height: 400px;" src="image/benifits.jpg" class="w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#abc" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#abc" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section> <!---section end-->

<section> <!---section start-->
    <div class="container-fluid ">
        <div class="container">
            <div class="row mt-4 text-center ">
                <h1 style="color: #213e94;font-family: sans-serif;font-weight: 600;"><span
                        style="color: #f3aa92;">Grievance </span>Redressal System</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="para mt-5 " >The Grievance Redressal Cell has been developed to settle the grievances of the students and other stakeholders within a reasonable time period for further strengthening the bond of the students with the institution by providing them with all kind of facilities to a satisfaction level for maintaining a convenient ambience of academic teaching and learning. <br>    
                        Oréll believes that providing on time and competent service is essential not only to attract new customers, but also to retain existing ones. ITMGrievance, the revolutionary online grievance handling mechanism aims at minimising instances of complaints in professional</p>
                </div>
                <div class="col-md-6 mt-2 ">
                    <img src="image/features.jpg" class="w-100" alt="">
                </div>
            </div>
            <div class="row">
                <p class="para mb-5 " >colleges through effective tracking and monitoring of grievances ensuring prompt redressal. This portal for online registration and disposal of grievances help users obtain immediate response and resolution to their grievances from the institution itself</p>
            </div>
        </div>
    </div>


</section> <!---section end-->
<%- include('./footer.ejs')  %>
