<%- include('./header.ejs')  %>

<section> <!---section start-->
    <div id="abc" class="carousel slide carousel-fade">
        <div class="carousel-inner">
            <div class="carousel-item active ">
                <img style="height: 400px;" src="image/features.jpg" class="w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#abc" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#abc" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section> <!---section end-->

<section> <!---section start-->
    <div class="container-fluid ">
        <div class="container">
            <div class="row mt-4 text-center ">
                <h1 style="color: #213e94;font-family: sans-serif;font-weight: 600;"><span
                        style="color: #f3aa92;">Grievance </span>Redressal System</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <h2 style="font-size: 2.5rem;" >Features</h2>
                <p class="para mt-4 " >The Grievance Redressal System the latest productivity enhancement tool for higher education has umpteen features that make it appealing to educational institutions worldwide. The separate dashboard for students, teachers, parents and non-teaching staff in addition to admin and grievance cell members helps to maintain confidentiality in grievance dealing procedure. It gives opportunity for the institution to implement a set of specific measures to ensure accountability and maximum output, by managing grievances of the stakeholders and increasing transparency thereby establishing a very positive ambience.
                </p>
            </div>

            <div class="row">
                <h3 style="font-size: 1.8rem;" >User Interface at-a-glance</h3>
                <ul class="para mt-4 ">
                    <li>Post complaints by students, teachers, parents an other staff</li>
                    <li>Post complaints by students, teachers, parents an other staff</li>
                    <li>Post complaints by students, teachers, parents an other staff</li>
                    <li>Post complaints by students, teachers, parents an other staff</li>
                    <li>Post complaints by students, teachers, parents an other staff</li>
                    <li>Post complaints by students, teachers, parents an other staff</li>
                </ul>
            </div>

            <div class="row">
                <h3 style="font-size: 1.8rem;" >Admin and Gravience Handler Interface at-a-glance </h3>
                <ul class="para mt-4">
                    <li>Account Settings to edit and reset admin profile</li>
                    <li>Add grievance cell members</li>
                    <li>Create and monitor accounts of grievance committee.</li>
                    <li>Add head of the institution and a management representative in the cell</li>
                    <li>Option to verify and approve registered users checking their authenticity</li>
                    <li>View complaints sent by the users</li>
                    <li>Check the authenticity of complaints</li>
                    <li>Assign complaints to grievance cell members based on the complaint nature/type</li>
                    <li>Generate reports on a monthly basis in word/pdf/excel format</li>
                </ul>
            </div>

            <div class="row">
                <h3 style="font-size: 1.8rem;" >Dean Interface at-a-glance </h3>
                <ul class="para mt-4">
                    <li>Post complaints by students, teachers, parents an other staff</li>
                    <li>Post complaints by students, teachers, parents an other staff</li>
                    <li>Post complaints by students, teachers, parents an other staff</li>
                    <li>Post complaints by students, teachers, parents an other staff</li>
                    <li>Post complaints by students, teachers, parents an other staff</li>
                    <li>Post complaints by students, teachers, parents an other staff</li>
                </ul>
            </div>
        </div>
    </div>
   
</section> <!---section end-->
<%- include('./footer.ejs')  %>
