<footer> <!--footer start-->
    <div class="container-fluid footer mt-5">
        <div class="container">
            <div class="row ">
                <div class="col-md-5 mt-5    ">
                    <a href="index.html" style="text-decoration: none;" >
                        <h1 class="footerlogo">MPCTGrievance<span style="color: #213e94;">Portal</span></h1>
                    </a>
                    <p class=" footerpa mt-4">#1 Online Grievance Redressal Mechanism designed in accordance with
                        AICTE directive aims at resolving the grievances of students, parents,
                        staff and others with optimal transparency and accuracy.</p>
                </div>

                <div class="col-md-3 mt-4  ">
                    <h2 class="footerh2">Some Links</h2>
                    <ul style="font-weight: 500;">
                        <li>
                            <a href="" class="nav-link">Home</a>
                        </li>
                        <li>
                            <a href="" class="nav-link">About</a>
                        </li>
                        <li>
                            <a href="" class="nav-link">GRS</a>
                        </li>
                        <li>
                            <a href="" class="nav-link">Features</a>
                        </li>
                        <li>
                            <a href="" class="nav-link">Benefits</a>
                        </li>
                        <li>
                            <a href="" class="nav-link">Help</a>
                        </li>

                    </ul>
                </div>

                <div class="col-md-4 mt-5  ">
                    <h2 class="footerh2">24/7 SUPPORT &amp; HELP</h2>
                    <h6 style="font-size: 1.2rem;">+91 7898714844,
                        <br>
                        +91 7400796042(Support)
                    </h6>
                    <h2 class="footerh2 mt-4 mb-3">Connect with Us</h2>
                    <a class="btn btn-primary me-2 " style="background-color:  #213e94;border:  #213e94;
                " href="#"><i class="fa-brands fa-twitter"></i></a>

                    <a class="btn btn-primary btn-square  me-2 " style="background-color:  #213e94;border:  #213e94;
                " href="#"><i class="fa-brands fa-facebook-f"></i></a>

                    <a class="btn btn-primary btn-square  me-2 " style="background-color:  #213e94;border:  #213e94;
                " href="#"><i class="fa-brands fa-linkedin-in"></i></a>

                    <a class="btn btn-primary btn-square me-2  " style="background-color:  #213e94;border:  #213e94;
                " href="#"><i class="fa-brands fa-instagram "></i></a>

                    <a class="btn btn-primary btn-square   " style="background-color:  #213e94;border:  #213e94;
                " href="#"><i class="fa-brands fa-youtube "></i></a>
                </div>

            </div>
        </div>
        <hr>
        <div class="row text-center ">
        <div class="col-md-5 ps-5  ">
            <p> Copyright @ 2023. MPCTGravience Portal. All Rights Reserved</p>
        </div>
        <div class="col-md-3 ps-5 ">
            <p> Private Policy Terms & Condition</p>
        </div>
        <div class="col-md-4 ps-5 ">
            <p>Design By Rahul Kushwaha</p>
        </div>
    </div>
    </div>

</footer> <!---footer end-->





</body>

</html>