<%- include('./header.ejs')  %>
<section> <!---section start-->
    <div id="abc" class="carousel slide carousel-fade">
        <div class="carousel-inner">
            <div class="carousel-item active ">
                <img style="height: 400px;" src="image/help.jpg" class="w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#abc" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#abc" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section> <!---section end-->

<section> <!---section start-->
    <div class="container-fluid ">
        <div class="container">
            <div class="row mt-4 text-center ">
                <h1 style="color: #213e94;font-family: sans-serif;font-weight: 600;"><span
                        style="color: #f3aa92;">How May </span>I Help You</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid help p-5 ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 formborder p-5 ">
                    <h2 class="text-center mb-4" style="color: #fff;font-weight: 700;" >LEAVE US MASSAGE</h2>
                    <form class="">
                        <input type="text"  placeholder="Name:" class="form-control mb-3  " >
                        <input type="text"  placeholder="Roll_No.:" class="form-control mb-3" >
                        <input type="text"  placeholder="Email:" class="form-control mb-3" >
                        <input type="number"  placeholder="Phone:" class="form-control mb-3" >
                        <textarea name="" id="" cols="" rows="" placeholder="Message:" class="form-control mb-5"></textarea>
                        <a href=""><button style="background-color: #f3aa92;text-decoration: none;color: #fff;" class="btn shadow-lg form-control  ">Submit</button></a>
                    </form>

                </div>
                <div class="col-md-6  ">
                    <h1 class="cursive text-center">HOW MAY I HELP YOU</h1>
                </div>

            </div>
        </div>
    </div>


</section> <!---section end-->
<%- include('./footer.ejs')  %>
