<%- include('./header.ejs') %>
<% if(msg.length> 0){ %>
    <div class="alert alert-danger">
        <%= msg %>
    </div>
    <% } %>
    <section> <!---section start-->
        <div id="abc" class="carousel slide carousel-fade">
            <div class="carousel-inner">
                <div class="carousel-item ">
                    <img style="height: 550px;" src="image/banner1.jpg" class="w-100" alt="...">
                </div>
                <div class="carousel-item active ">
                    <img style="height: 550px;" src="image/fvbumsxdelaomcmmfad3.jpg" class="w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#abc" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#abc" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section> <!---section end-->

    <section> <!---section start-->
        <div class="container-fluid">
            <div class="container">
                <div class="row mt-4 text-center ">
                    <h1 style="color: #213e94;font-family: sans-serif;font-weight: 600;"><span
                            style="color: #f3aa92;">Why</span> Grievance Redressal System?</h1>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mt-4 ">
                        <p class="para">The Grievance Redressal Cell has been developed to settle
                            the grievances of the students and other stakeholders within a reasonable time period for
                            further
                            strengthening the bond of the students with the institution by providing them with all kind
                            of
                            facilities to a satisfaction level for maintaining a convenient ambience of academic
                            teaching and
                            learning. <br>
                            Oréll believes that providing on time and competent service is essential not only to attract
                            new customers, but also to retain existing ones. ITMGrievance, the revolutionary online
                            grievance
                            handling mechanism aims at minimising instances of complaints in professional </p>
                    </div>
                    <div class="col-md-6 mt-2  ">
                        <img src="/image/home-grievance-redressal-system-content-.png" class=" w-100 img-fluid" alt="">
                    </div>
                    <div class="row">
                        <p class="para">colleges through effective tracking and monitoring of grievances ensuring prompt
                            redressal. This portal for online registration and disposal of grievances help users obtain
                            immediate response and resolution to their grievances from the institution itself

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section> <!---section end-->

    <section> <!---section start-->
        <div class="container-fluid mt-4  ">
            <div class="container  ">
                <div class="row text-center  ">
                    <div class="col-md-4 box p-3 mb-2 shadowlg ">
                        <div class="minbox p-3 ">
                            <i class="fa-solid fa-user pb-1 "></i>
                            <h2 style="color: #fff;"> Student</h2>
                            <p style="color: #fff;">Student can manage or view Their Grievance Here..</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#student" style="background-color: #f3aa92;border: none;">
                                Login
                            </button>
                        </div>
                    </div>

                    <div class="col-md-4 box p-3 mb-2 shadowlg">
                        <div class="minbox p-3 ">
                            <a href=""><i class="fa-solid fa-user-tie pb-1 "></i></a>
                            <h2 style="color: #fff;"> Dean/Principal</h2>
                            <p style="color: #fff;">This Section is Managed By the Dean/Principal of ITM University </p>
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#principal"
                                style="background-color: #f3aa92;border: none;">Login</button>
                        </div>
                    </div>

                    <div class="col-md-4 box p-3 mb-2 shadowlg">
                        <div class="minbox p-3 ">
                            <a href=""><i class="fa-solid fa-chalkboard-user pb-1 "></i></a>
                            <h2 style="color: #fff;"> Handler & Admin</h2>
                            <p style="color: #fff;">This Section is managed and view by the Grievance handler. </p>
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#admin"
                                style="background-color: #f3aa92;border: none;">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!---section end-->

    <section> <!---section start-->
        <div id="abc" class="carousel slide carousel-fade mt-5 ">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="image/banner1.jpg" class="w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#abc" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#abc" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section> <!---section end-->
    <!-- Button trigger modal -->


    <!-- Button trigger modal -->


    <!-- Modal Student -->

    <div class="modal fade" id="student" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="student">Student Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/verifylogin" method="post">
                        <div class="mb-3">
                            <label for="">Email</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="">Password</label>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                        <button class="btn btn-primary">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal Admin -->

    <div class="modal fade" id="admin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="admin">Admin Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/verifylogin" method="post">
                        <div class="mb-3">
                            <label for="">Email</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="">Password</label>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal Principal -->

    <div class="modal fade" id="principal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="principal">Principal Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/verifylogin" method="post">
                        <div class="mb-3">
                            <label for="">Email</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="">Password</label>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                        <button class="btn btn-primary">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <%- include('./footer.ejs') %>