* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #263A4F;
}

.mobile {
    color: #213e94;
}

.logo {
    color:#f3aa92;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
}

.section i:hover {
    color: black;
}

.navbar {
    background-color: #213e94 !important;
    z-index: 1;
}
.navfixed{
    position: sticky !important;
    top: 0px; 
}
#abc{
    z-index: 0;
}
.menu,.menu1 {
    color: #fff !important;
    font-weight: 600 !important;
    font-size: 1.05rem !important;
    text-transform: uppercase;
}
.menu2 ul li:hover{
    background-color:#f3aa92;
    transition: .5s !important;
}
.menu1{
    background: #f3aa92 !important;
}
.shadowlg{
    box-shadow: 0 1rem 3rem rgba(var(--bs-body-color-rgb),.175)!important;
}
.student{
    font-family: sans-serif;
    font-size: 35px;
    color: white;
    font-weight: 600;
}
.formborder{
    border: 2px solid white;
}
.label{
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
}
.btn1{
    background-color: #f3aa92;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 160px;
    margin: 4px;
    font-weight: 600;
    border-radius: 5px;
}
.box{
    background-color: #213e94;
}
.minbox{
    background-color: #213e94;
    border: 3px solid white;
}
.box i{
    font-size: 100px;
    color: #f3aa92;
}
.footer{
    background-color: #f8f8fb;
}
.footerlogo{
    color:#f3aa92;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}
.footerpa{
    letter-spacing: 1px;
    font-family: sans-serif;
    line-height: 2;
}
.footerh2{
    font-family: sans-serif;
    font-size:28px;
    font-weight: 600;
}
